<ng-container *ngTemplateOutlet="recursiveTemplate; context: {list: configuration}"></ng-container>

<ng-template #recursiveTemplate let-list="list">
  <ng-container *ngFor="let entry of list | mapStringsToTextEntry" [ngSwitch]="entry.type">
    <app-text *ngSwitchCase="'text'" [text]="entry.text" [allowHTML]="allowHTMLTexts"></app-text>
    <app-strong *ngSwitchCase="'strong'" [text]="entry.text"></app-strong>
    <app-paragraph *ngSwitchCase="'paragraph'" [configuration]="entry.children" [template]="recursiveTemplate"></app-paragraph>
    <app-list *ngSwitchCase="'list'" [configuration]="entry.children" [recursiveTemplate]="recursiveTemplate"></app-list>
  </ng-container>
</ng-template>

